{% extends "base.html" %} {% block title %}Segmentasi Tumor Otak{% endblock %}
{% block content %}
<h2>Segmentasi Tumor Otak</h2>
<div class="form-section">
  <form method="post" enctype="multipart/form-data">
    <label>Pilih gambar MRI untuk segmentasi:</label><br />
    <input type="file" name="image" accept="image/*" required /><br />
    <input type="submit" value="Segmentasi" />
  </form>
</div>
{% if segmented_path %}
<div class="result-section">
  <h4>Hasil Segmentasi:</h4>
  <img
    src="{{ url_for('static', filename=segmented_path) }}"
    class="result-img"
    alt="Segmentasi"
  />
  {% if segmentation_info %}
  <h5>Keterangan Segmentasi:</h5>
  <p>{{ segmentation_info }}</p>
  {% endif %}
</div>
{% endif %} {% endblock %}
